.App {
  text-align: center;
}

.React-logo {
  max-width: 200px;
  animation: React-logo-spin 6s linear infinite;
}

.Fleek-logo {
  max-width: 400px;
}

.Big-plus {
  font-size: calc(50px + 2vmin);
}
.actionButtonNew{
  padding-right: 25px;
  min-width:180px;
  background-color: #4264EA;
  border-radius: 100px;
  border:none;
  padding: 16px;
  text-align: center;
  color:#fff;
  font-size:16px;
  line-height:20px !important;
  cursor:pointer;
  position: relative;
  height: 52px;
}
.app-body{
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  color:white;

}
.nav-item{
  margin:20px;
  padding:20px;
  min-width:200px;
  font-size: 24px;
  cursor: pointer;
}
.active-item{
  color:#61dafb;
}
.nav-item:hover{
  font-weight: 900;
}
.normal{
  background-color: #282c34;
  color:white;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
html{
  background-color: #282c34;
}
.messagePanelAnswerConversation{
  background-color: #FAFAFA; border-radius: 12px; padding: 10px;margin-left:25px; color: #505050; max-width: 390px;margin-top:40px;
}
.speech-bubble__arrow_left {
  bottom: -20px;
  position: absolute;
  left: 8px;
}
.speech-bubble__arrow_left::before {
  border-right: 23px solid transparent;
  border-top: 23px solid #fff;
  bottom: 10px;
  content: "";
  position: absolute;
  right: -15px;
}
.speech-bubble__arrow_left::after {
   border-right: 21px solid transparent;
   border-top: 21px solid #fff;
   bottom: 10px;
   content: "";
   position: absolute;
   right: -14px;
 }
.speech-bubble-left{
  margin-top: 60px;
  background: #fff;
  border-bottom: 1px solid #d5d7ea;
  border-radius: 12px;
  position: relative;

p {
  margin-bottom: 10px;

:last-of-type {
  margin-bottom: 0;
}
}
}
.App-link {
  color: #61dafb;
}

@keyframes React-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fadedshort{
  -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 0.5s; /* Firefox < 16 */
  -ms-animation: fadein 0.5s; /* Internet Explorer */
  -o-animation: fadein 0.5s; /* Opera < 12.1 */
  animation: fadein 0.5s;
}
@keyframes fadein {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
@-moz-keyframes fadein { /* Firefox */
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
@-o-keyframes fadein { /* Opera */
  from {
    opacity:0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeinDelay {
  from {
    opacity:0;
  }
  to {
    opacity:0;
  }
}
@-moz-keyframes fadeinDelay { /* Firefox */
  from {
    opacity:0;
  }
  to {
    opacity:0;
  }
}
@-webkit-keyframes fadeinDelay { /* Safari and Chrome */
  from {
    opacity:0;
  }
  to {
    opacity:0;
  }
}
@-o-keyframes fadeinDelay { /* Opera */
  from {
    opacity:0;
  }
  to {
    opacity: 0;
  }
}

